<h1>HomeController#show</h1>
<p>Find me in app/views/home_controller/show.html.erb</p>

<textarea id="edit"></textarea>

<script>
    $(function() {
        $('#edit').froalaEditor();
    });
</script>